@import url('https://fonts.googleapis.com/css2?family=Gotu&family=Noto+Sans+KR:wght@400;500;700&display=swap');
body {font-family: 'Noto Sans KR', 'Gotu', serif, sans-serif; word-break:keep-all}

ul, ol, li {list-style: none; margin:0; padding:0;}
a {color:#333;text-decoration: none;}
a:hover {color:#CC947C;text-decoration: none;}

/* 영문폰트 클래스 추가 */
.gotu {font-family: "Gotu";}

/* footer 상단여백 추가 */
.footertop {
	margin-bottom : 10rem;
}

.bg-opac-95 {
	background: rgba(255, 255, 255, .95);
}

/*  뙎湲  愿  젴 CSS */
 .animated {
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
}

.stars
{
    margin: 20px 0;
    font-size: 24px;
    color: #d17581;
}

/* 寃곗젣 셿猷   럹 씠吏  CSS*/
.shape{
   border-style: solid; border-width: 0 100px 60px 0; float:right; height: 0px; width: 0px;
   -ms-transform:rotate(360deg); /* IE 9 */
   -o-transform: rotate(360deg);  /* Opera 10.5 */
   -webkit-transform:rotate(360deg); /* Safari and Chrome */
   transform:rotate(360deg);
}
.offer{
   background:#fff; border:1px solid #ddd; box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); margin: 15px 0; overflow:hidden;
}
.offer:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform:rotate scale(1.1);
    -webkit-transition: all 0.4s ease-in-out;
-moz-transition: all 0.4s ease-in-out;
-o-transition: all 0.4s ease-in-out;
transition: all 0.4s ease-in-out;
    }
.shape {
   border-color: rgba(255,255,255,0) #d9534f rgba(255,255,255,0) rgba(255,255,255,0);
}
.offer-radius{
   border-radius:7px;
}
.offer-danger {   border-color: #d9534f; }
.offer-danger .shape{
   border-color: transparent #d9534f transparent transparent;
}
.offer-success {   border-color: #5cb85c; }
.offer-success .shape{
   border-color: transparent #5cb85c transparent transparent;
}
.offer-default {   border-color: #999999; }
.offer-default .shape{
   border-color: transparent #999999 transparent transparent;
}
.offer-primary {   border-color: #428bca; }
.offer-primary .shape{
   border-color: transparent #428bca transparent transparent;
}
.offer-info {   border-color: #5bc0de; }
.offer-info .shape{
   border-color: transparent #5bc0de transparent transparent;
}
.offer-warning {   border-color: #f0ad4e; }
.offer-warning .shape{
   border-color: transparent #f0ad4e transparent transparent;
}

.shape-text{
   color:#fff; font-size:12px; font-weight:bold; position:relative; right:-40px; top:2px; white-space: nowrap;
   -ms-transform:rotate(30deg); /* IE 9 */
   -o-transform: rotate(360deg);  /* Opera 10.5 */
   -webkit-transform:rotate(30deg); /* Safari and Chrome */
   transform:rotate(30deg);
}
.offer-content{
   padding:0 20px 10px;
}

/* visual */
.titarea {display:flex;justify-content:center;align-items:flex-end;height: 330px;background-position: center;background-size: cover;}

@media (min-width: 992px) {
   .titarea {height: 500px;}
}
 
  
/* 게시판 buttons 공통 */
.boardbtn {width:7.65em;height:3em;border-radius:5px;font-size:1.25em;background:#D2D4DC;margin-top:6em}
.boardbtn:hover {background:#9CA09F;color:#fff;transition:0.3s}
.boardbtn:not(:first-child) {margin-left:1.6em}
.btnarea {margin:6em 0;text-align:right;}
.btnarea .boardbtn {margin-top:0}

/* 확인시트 */
.confirmbtn {width:120px;height:40px;border-radius:5px;font-size:11px;background:#D2D4DC;margin-top:0}
.confirmbtn:hover {background:#9CA09F;color:#fff;transition:0.3s}
.confirmbtn:not(:first-child) {margin-left:22px}
.confirmbtn {margin-top:0}
@media (min-width: 992px) {
   .confirmbtn {width:200px;height:60px;border-radius:5px;font-size:20px;}
   .confirmbtn {margin-top:40px}
   /* .confirmbtn:not(:first-child) {margin-left:32px} */
}
/* 구매하기 */
.buybtn {width:75px;height:35px;border-radius:5px;font-size:9px;background:#D2D4DC;margin-top:0}
.buybtn:hover {background:#9CA09F;color:#fff;transition:0.3s}
.buybtn {margin-top:5px}
@media (min-width: 992px) {
   .buybtn {width:85px;height:35px;border-radius:5px;font-size:12px;}
   .buybtn {margin-top:5px}
}
/* 삭제하기 */
.deletebtn {width:50px;height:35px;border-radius:5px;font-size:9px;background:#D2D4DC;margin-top:0}
.deletebtn:hover {background:#9CA09F;color:#fff;transition:0.3s}
.deletebtn:not(:first-child) {margin-left:10px}
.deletebtn {margin-top:5px}
@media (min-width: 992px) {
   .deletebtn {width:45px;height:35px;border-radius:5px;font-size:9px;}
   .deletebtn {margin-top:5px}
   .deletebtn:not(:first-child) {margin-left:10px}
}

/* by 김은주 - 상품목록, 상품상세정보 2023.3.11 */
/* product list */
.product_list {margin-top:6.3rem;}
.item_first {height:340px;margin-bottom:65px}
.item_first > div {max-width:340px;height:100%;background:#E4DFDF;font-family: 'Gotu';color:#151515;text-align:center;margin:0 auto;}
.item_first > div > div {margin-left:48px;text-align:left}
.item_first p {font-size:1rem}
.item_first p:last-child {font-family: 'Noto Sans KR';font-weight:500}
.productitem {text-align:center;padding-bottom:65px;}
.productitem .item_name {margin-top:30px}
.productitem .eng {font-family: 'Gotu';margin-bottom:20px;}
.productitem .desc {margin-bottom:20px;}
/* product detail view */
.productview {margin-top:138px}
.productview .detailimg {width:100%}
.productInfo .table-user-information {border-bottom:1px solid #D2D4DC;}
.productInfo .table-user-information > tbody > tr { border:0;}
.productInfo .table-user-information > tbody > tr > td {font-size: 20px;height: 3em; text-align:left;border:0;}
.productInfo .desc {border-bottom:1px solid #D2D4DC;padding-bottom:20px;}
/* product detail view 버튼 공통 */
.productview .btn {background-color: #D2D4DC;color: #000;border: none;border-radius:0}
.productview .btn:hover {background:#9CA09F;color:#fff;transition:0.3s}
.productview .btn[disabled] {background-color: #D2D4DC;color: #000;opacity:0.65;cursor:not-allowed;}
.productInfo #buyBtn, .productInfo #cartBtn {margin-top: 50px;width:100%;height: 90px;}
@media (min-width: 992px) {
	.productview .detailimg {width:80%}
	.productInfo #buyBtn, .productInfo #cartBtn {width: 210px;}
	.productInfo .infobtn div:first-child{text-align:right}
}
/* 상세설명 */
.productview .product_detail {margin:200px 0}

/* product detail view 상품평 */
.review-box{
   font-family: 'Noto Sans KR'; 
   font-style: normal;
   font-size: 18px; 
   font-weight: 400;
   margin-top:40px;
   margin-bottom:40px; 
}
.review-box h3 {margin-top:0}
#post-review-box {margin-top: 15px;}
#post-review-box textara {margin-bottom: 15px;}
#close-review-box {margin-right:10px;}
#reviewBtn {
   background-color: #d9d9d9;
   color: #000;
   padding: 10px;
   font-family: 'Noto Sans KR'; 
   font-style: normal; 
   font-size: 18px; 
   border: none; 
}

/* 관리자페이지 */
/* 사이트 전체에서 dataTables-example 사용시 공통디자인 */
#dataTables-example>tbody>tr>td {border-top:0;border-bottom: 1px solid #ddd;}
#dataTables-example th {background:#F5F5F5;text-align:center;padding-top:20px;padding-bottom:20px}
#dataTables-example .btn {background:#D2D4DC;}
#dataTables-example .btn:hover {background:#9CA09F;color:#fff;transition:0.3s}
.datatablerow {margin:10px 0;}
.datatablecol {padding:0}
/* 관리자 메인 */
.admin {margin-top:150px;}
.admin .nav-link {color:#151515}
.admin .nav-link:hover {color:#CC947C}
.adminmode {margin:120px auto;}
.adminlink {cursor:pointer;}
.adminlink .abtn {position:relative;width:250px;height:250px;margin:30px auto;background-size:100% 100%;}
.adminlink:hover .abtn {background-size:120% 120%;} 
.adminlink .dim {width:250px;height:250px;background:#000;opacity:.6}
.adminlink:hover .dim {opacity:0;transition: .7s;} 
.adminlink .menu01 {background:url("/img/admin/menu_bg01.png") no-repeat center;}
.adminlink .menu02 {background:url("/img/admin/menu_bg02.png") no-repeat center;}
.adminlink .menu03 {background:url("/img/admin/menu_bg03.png") no-repeat center;}
.adminlink h1 {position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);color:#fff;z-index:1}
.adminlink:hover h1 {text-shadow:#000 1px 0 10px;transition: .7s;}

/* 로그인, 비밀번호찾기, 회원가입, 정보수정  */	
.hidden{
/*visibility: hidden;*/
display: none;
}

.chkMsg{
	cursor: pointer;
	color: #333;
    text-decoration: none;
   	font-size: 16px !important;
	font-family: 'Noto Sans KR';
}
.foundMsg, .notFoundMsg{
	font-size: 16px !important;
	font-family: 'Noto Sans KR';
}

/* 푸터 */
.backgroundImg {
	background-size: cover;
	padding: 200px 15px;
	
}
.loginbox {max-width: 566px;background:#fff;padding: 0px;margin:0 auto;border-radius: 30px; }
.logintab {overflow:hidden;border-radius: 30px 30px 0 0; text-align:center; width: 100%; margin-left: 0%; font-family: "Noto Sans KR"}
.logintab .title {height:44px;font-size:16px;text-align:left;padding-top:21px;padding-left:48px}
.logintab .tabbtn {background:#9E9C9C;}
.logintab .tabbtn a {display:block;width:100%;height:44px;font-size:16px;padding-top:7px}
.logintab .tabbtn a:hover {color:#fff;transition:0.3s}
.logintab .tabbtn.on {background:#fff;pointer-events : none;}
.loginbox form {padding:35px 35px 21px;font-family: Noto Sans KR;font-size:16px;}
.loginbox .form-control {height: 46px;border-radius: 15px; margin-bottom:11px;}
.loginbox .input-group .form-control {z-index:0}
.loginbox ::-webkit-input-placeholder {
	font-size:12px;
	background-size: contain;
	background-position: 1px center;
	background-repeat: no-repeat;
	padding: 0 15px 0 0;
	padding-left:28px;
	filter: invert(98%) sepia(0%) saturate(15%) hue-rotate(142deg) brightness(87%) contrast(85%);
}
.loginbox #name::-webkit-input-placeholder, 
.loginbox #id::-webkit-input-placeholder{
	background-image: url('/img/icon_user.svg');
}
.loginbox #pw::-webkit-input-placeholder{
  background-image: url('/img/icon_key.svg') ;
}
.loginbox #email::-webkit-input-placeholder{
  background-image: url('/img/icon_mail.svg') ;
}
.loginbox #birth::-webkit-input-placeholder{
  background-image: url('/img/icon_calendar.svg') ;
}
.loginbox #phone1::-webkit-input-placeholder,
.loginbox #phone2::-webkit-input-placeholder{
  background-image: url('/img/icon_phone.svg') ;
}
.loginbox #postNum1::-webkit-input-placeholder,
.loginbox #postNum2::-webkit-input-placeholder,
.loginbox #address1::-webkit-input-placeholder,
.loginbox #address2::-webkit-input-placeholder  {
  background-image: url('/img/icon_map.svg') ;
}
.loginbox input[type="checkbox"]{width: 16px;height: 16px;}
.loginbox .checkbox label {color: #818483;}
.loginbox .checkboxText {margin-left: 11px;}
.loginbox .Loginbtn {
	font-size: 17.5px;
	font-weight: bold;
	color: #fff;
	background-color: #9CA09F;
}
.loginbox .Loginbtn:hover{background:#292F36;transition:0.3s}
.loginbox .postcode {border-radius: 15px 0 0 15px !important;}
.loginbox .postsearch {
      height: 46px;
      background: #fff;
      font-size: 12px;
      outline:none;
      display:inline-block;
      margin-left: -1px;
      margin-bottom:11px;
      border: 1px solid #ccc; 
      border-radius: 0 15px 15px 0;
}
.loginbox .postsearch:hover{
     background:#9CA09F;
     border:0;
     color:#fff
}
	.loginbox .hyphen {position:relative;}
	.loginbox .hyphen::after {content:"-";position:absolute;display:block;right:-4px;top:0;height:46px;line-height:46px;font-size:12px;font-family:"Noto Sans KR";}
@media (min-width: 992px) {
	.logintab .title {height:62px;font-size:20px;padding-top:30px;font-family: "Noto Sans KR"}
	.logintab .tabbtn a {height:62px;font-size:20px;padding-top:10px}
	.loginbox form {padding:50px 50px 30px;font-size:16px;}
	.loginbox form .form-control {height: 66px;font-size:16px;margin-bottom:15px;}
	.loginbox ::-webkit-input-placeholder {font-size:16px;padding-left:40px;}
	.loginbox input[type="checkbox"]{width: 20px;height: 20px;}
	.loginbox .checkboxText {margin-left: 16px;}
	.loginbox .Loginbtn{font-size: 20px;}
	.loginbox .postsearch {height: 66px;font-size: 16px;margin-bottom:15px;}
	.loginbox .hyphen::after {right:-4px;top:0;height:66px;line-height:66px;font-size:14px;}
}

.footertop {
	margin-bottom : 10rem;
}